
 <!-- Copyright
================================================== -->
 <div id='copyright-container' class='container-fluid'>
   <div id='copyright' class='row-fluid'>
     <div class="span12">
     <div class="pull-left"><div class="fb-like" data-href="https://www.facebook.com/laurentbenoitphoto" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div></div>  
	   <div class="pull-left" style="margin-left: 12px;">copyright © 2006-2015 - all images, no use without permission</div>
     
	   <%= render_menu('legal') %>
       <a id='site-by' href='http://www.joufdesign.com' target='_blank' class="pull-right">
         <%= t(:'site_by', :name => "Jouf Design").html_safe %>
       </a>
     </div>
   </div>
 </div>